<div class="">

<h1 ng-if="ctrl.saved">Your information has been saved</h1>
        <h1>Registration</h1>
        <form name='regForm' novalidate>
    
            <input type="text" name="firstname" placeholder="enter a firstname" class="form-control" required ng-model="ctrl.firstName">
            <span ng-if="regForm.firstname.$error.required && regForm.firstname.$touched">
                firstname is required
            </span>
            <br>
    
            <input type="text" name="lastname" placeholder="enter a lastname" class="form-control" required
                ng-model="ctrl.lastName">
            <span ng-if="regForm.lastname.$error.required && regForm.lastname.$touched">
                lastname is required
            </span>
    <br>
            <input type="text" name="phone" placeholder="Phone ###-###-####" ng-model="ctrl.phone" class="form-control"
                pattern="(\d{3})-(\d{3})-(\d{4})">
            <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
                Phone must be in the format ###-###-####.
            </span>
            <br>
    <input type="text" placeholder="enter a favorite dish" class="form-control" required
        ng-model="ctrl.shortName">
    <span ng-if="ctrl.exit">No such menu number exists</span>
    <br>
            <button ng-disabled="regForm.$invalid" ng-click="ctrl.checkMenuExist()" class="btn btn-warning">Submit</button>
    
        </form>
   
</div>
